* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.banner {
  background-image: url("./images/background.jpg");
  /* -webkit-background-size: cover; */
  background-size: cover;
  /* background-position: center center; */
  height: 95vh;
  padding-top: 25px;
  box-shadow: 5px 20px rgb(68, 65, 65);
  z-index: 2;
}

#bannerHeading{
  font-size: 65px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

#bannerHeading::first-letter{
  font-size: 100px;
}

#bannerSubheading{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

span{
  font-size: 100px;
}

.menu-area li a{
  text-decoration: none;
  color:#fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}

.menu-area li{
  list-style: none;
  display: inline-block;
}

nav{
  position: relative;
  padding: 10px 10px 10px 10px;
  text-align: right;
  z-index: 1;
  background: #333;
  margin: 0 auto;
  width: calc(100% - 60px);
}

.logo{
  text-decoration: none;
  float: left;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

.logo a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}

.logo:hover{
  border: .5px solid #fff;
  text-decoration: none;
}

.logo a:visited{
  color: #fff;
}

#capitalLetter{
  font-size: 22px;
}

.logo::first-letter{
  font-size: 25px;
}

.menu-area li a:hover{
  background: rgb(219, 114, 95);
  color: #fff;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
}

.articles{
  background-image: url("./images/backgroundTile.PNG");
  background-repeat: repeat;
  padding: 50px;
}

#scrapeArticlesButton{
  background-color: rgb(219, 114, 95);
  color: #fff;
  border: 0px;
  padding: 15px 30px;
  font-family: "serif";
  text-transform: uppercase;
  border: 2px solid #fff;
  margin-top: 40px;
}

.buttonDiv{
  text-align: center;
}

.card {
  max-width: 800px;
  /* height: 200px; */
  /* max-height: 300px; */
  padding: 20px;
  border: 2px solid #333;
  border-radius: 6px;
  background-color: #fff;
  color: black;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  justify-content: space-between;
  box-shadow: 0px 5px 40px -10px rgba(255,255,255,0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

@media only screen and (max-width:768px) {
  .card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-image{
    margin-bottom: 30px;
  }
  .infoContainer{
    margin-bottom: 30px;
    width: 200px;
    margin-left: 0px;
  }
  .btn-save{
    margin-left: 0px;
  }
}

.card-image {
  width: 200px;
  height: 150px;
  /* margin-right: 20px; */
  border-radius: 6px;
  border: 2px solid black;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  margin-left: 30px;
}

.card-article-info-container {
  width: 60%;
  margin-right: 20px;
}

.card-text-block {
  margin-right: 20px;
  display: block;
}

.article-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  display: block;
}

.article-summary {
  font-size: 16px;
  line-height: 20px;
  max-height: 100px;
}

/* .card-actions {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100px;
} */

.btn-save {
  background-color: rgb(219, 114, 95);
  border-radius: 6px;
  color: #fff;
  border: 0px;
  /* padding: 15px 30px; */
  font-family: "serif";
  text-transform: uppercase;
  border: 2px solid #fff;
  /* margin-top: 40px; */
  cursor: pointer;
  margin-left: 30px;
} 

.btn-save:hover {
  background-color: rgb(219, 114, 95);
  border: 2px solid #fff;
  box-shadow: 0px 5px 40px -10px rgba(255,255,255,0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transform: translateY(-1px) scale(1.01); 
  transition: all .1s ease-in; 
  outline: none;
}

input{
  width: 60%;
}