* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.banner {
  background-image: url("./images/background.jpg");
  /* -webkit-background-size: cover; */
  background-size: cover;
  /* background-position: center center; */
  height: 80vh;
  padding-top: 25px;
  box-shadow: 5px 20px rgb(10, 8, 8);
  z-index: 2;
}

#bannerHeading{
  font-size: 65px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

#bannerHeading::first-letter{
  font-size: 100px;
}

#bannerSubheading{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

span{
  font-size: 100px;
}

.menu-area li a{
  text-decoration: none;
  color:#fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
  position: relative;
  z-index: 1;
}

.menu-area li{
  list-style: none;
  display: inline-block;
}

nav{
  position: relative;
  padding: 10px 10px 10px 10px;
  text-align: right;
  z-index: 1;
  background: #333;
  margin: 0 auto;
  width: calc(100% - 60px);
}

.logo{
  float: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}

.logo:hover{
  border: .5px solid #fff;
}

#capitalLetter{
  font-size: 22px;
}

.logo::first-letter{
  font-size: 25px;
}

.menu-area li a:hover{
  background: rgb(219, 114, 95);
  color: #fff;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
}

.articles{
  background-image: url("./images/backgroundTile.PNG");
  background-repeat: repeat;
  height: 500px;
}

#scrapeArticlesButton{
  background-color: rgb(219, 114, 95);
  color: #fff;
  border: 0px;
  padding: 15px 30px;
  font-family: "serif";
  text-transform: uppercase;
  border: 2px solid #fff;
  margin-top: 40px;
}

.buttonDiv{
  text-align: center;
}